= bootstrap_form_for([@current_network, smart_plug_device], layout: :horizontal, label_errors: true) do |f|
  = f.text_field :title, help: "Name of your smart plug device"

  = f.text_field :api_title, help: "Name of registered plug in Home Assistant, eg: switch.smart_zasuvka_1090"

  = f.text_field :api_status_url, help: "Absolute url for your Home Assistant REST API for status of your smart plug"

  = f.text_field :api_turn_on_url, help: "Absolute url for your Home Assistant REST API for turn on your smart plug"

  = f.text_field :api_turn_off_url, help: "Absolute url for your Home Assistant REST API for turn off your smart plug"

  = f.text_field :energy_price_for_kwh, help: "Energy price for kWh of electricity at destination of your smart plug", append: ['€', 'kWh'], control_col: "col-sm-2"

  = f.text_field :avg_energy_consumption, help: "Average energy consumption of device plugged in the smart plug", append: ['Wh'], control_col: "col-sm-2"

  = f.text_field :token, help: "Secret token for API conection for your Home Assistant instance"

  = f.text_field :off_timeout, help: "Time between successfull turn off request of the smart plug", control_col: "col-sm-2"

  = f.text_area :description, help: "Optional description of smart plug device"


  = f.hidden_field :network_id

  = f.form_group do
    =  f.submit