<div id="<%= dom_id smart_plug_device %>">
  <p>
    <strong>Title:</strong>
    <%= smart_plug_device.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= smart_plug_device.description %>
  </p>

  <p>
    <strong>Api title:</strong>
    <%= smart_plug_device.api_title %>
  </p>

  <p>
    <strong>Current state:</strong>
    <%= smart_plug_device.current_state %>
  </p>

  <p>
    <strong>Ip address:</strong>
    <%= smart_plug_device.ip_address %>
  </p>

  <p>
    <strong>Network:</strong>
    <%= smart_plug_device.network_id %>
  </p>

</div>
