%div{id: "#{dom_id smart_plug_device}"}
  %p
    %strong Title:
    = smart_plug_device.title
  %p
    %strong Description:
    = smart_plug_device.description
  %p
    %strong Api title:
    = smart_plug_device.api_title
  %p
    %strong Current state:
    = smart_plug_device.current_state
  %p
    %strong Ip address:
    = smart_plug_device.ip_address
  %p
    %strong Network:
    = smart_plug_device.network.title
  %p
    %strong Energy Price kWh:
    = smart_plug_device.energy_price_for_kwh
  %p
    %strong AVG Energy Consumption:
    = smart_plug_device.avg_energy_consumption
  %p
    %strong Updated At:
    = smart_plug_device.updated_at
