%h1 Smart Plug Devices

.row
  .col
    = link_to "New Smart Plug device", new_network_smart_plug_device_path(@current_network) if @current_network.smart_plug_devices.count.zero?
  .col.text-end
    = paginate_helper(@smart_plug_devices)

#smart_plug_devices
  - if @smart_plug_devices.count > 0
    %table.table.table-striped
      %thead
        %tr
          %th{scope: "col"} ID
          %th{scope: "col"} Title
          %th{scope: "col"} Description
          %th{scope: "col"} Api Title
          %th{scope: "col"} API status url
          %th{scope: "col"} Actions
      %tbody
        - @smart_plug_devices.each do |smart_plug_device|
          %tr
            %th{scope: "row"}
              = smart_plug_device.id
            %td
              = smart_plug_device.title
            %td
              = smart_plug_device.description
            %td
              = smart_plug_device.api_title
            %td
              = smart_plug_device.api_status_url
            %td
              = link_to "Show", network_smart_plug_device_path(@current_network, smart_plug_device)
              = link_to "Edit", edit_network_smart_plug_device_path(@current_network, smart_plug_device)
              = link_to 'Delete', network_smart_plug_device_path(@current_network, smart_plug_device), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}

.row
  .col.text-end
    = paginate_helper(@smart_plug_devices)