= bootstrap_form_for(network, layout: :horizontal, label_errors: true) do |f|
  = f.text_field :title, help: "Name of your network"

  = f.text_area :description, help: "Optional description of your network"

  = f.form_group :active, label: { text: "Active?" }, help: "If configuration is finished and network is active" do
    = f.check_box :active, checked: f.object.active

  = f.form_group do
    =  f.submit