<p style="color: green"><%= notice %></p>

<%= render @current_state %>

<div>
  <%= link_to "Edit this current state", edit_current_state_path(@current_state) %> |
  <%= link_to "Back to current states", current_states_path %>

  <%= button_to "Destroy this current state", @current_state, method: :delete %>
</div>
