<div id="<%= dom_id endpoint_device %>">
  <p>
    <strong>Title:</strong>
    <%= endpoint_device.title %>
  </p>

  <p>
    <strong>Gps position:</strong>
    <%= endpoint_device.gps_position %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= endpoint_device.description %>
  </p>

  <p>
    <strong>Ip address:</strong>
    <%= endpoint_device.ip_address %>
  </p>

  <p>
    <strong>Contact info:</strong>
    <%= endpoint_device.contact_info %>
  </p>

  <p>
    <strong>Network:</strong>
    <%= endpoint_device.network_id %>
  </p>

</div>
