%div{id: "#{dom_id endpoint_device}"}
  %p
    %strong Title:
    = endpoint_device.title
  %p
    %strong Gps position:
    = endpoint_device.gps_position
  %p
    %strong Description:
    = endpoint_device.description
  %p
    %strong Ip address:
    = endpoint_device.ip_address
  %p
    %strong Contact info:
    = endpoint_device.contact_info
  %p
    %strong Network:
    = endpoint_device.network.title