<%= form_with(model: endpoint_device) do |form| %>
  <% if endpoint_device.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(endpoint_device.errors.count, "error") %> prohibited this endpoint_device from being saved:</h2>

      <ul>
        <% endpoint_device.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :gps_position, style: "display: block" %>
    <%= form.text_field :gps_position %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :ip_address, style: "display: block" %>
    <%= form.text_field :ip_address %>
  </div>

  <div>
    <%= form.label :contact_info, style: "display: block" %>
    <%= form.text_field :contact_info %>
  </div>

  <div>
    <%= form.label :network_id, style: "display: block" %>
    <%= form.number_field :network_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
