= bootstrap_form_for([@current_network, endpoint_device], layout: :horizontal, label_errors: true) do |f|
  = f.text_field :title, help: "Name of your device"

  = f.text_field :ip_address, help: "IPv4 or IPv6 address of your device, e.g. 10.0.3.10"

  = f.form_group :active_monitoring, label: { text: "Active Monitoring" }, help: "Select, if you want to do ping for the device" do
    = f.radio_button :active_monitoring, 1, label: "Active", checked: f.object.active_monitoring
    = f.radio_button :active_monitoring, 0, label: "Inactive", checked: !f.object.active_monitoring

  = f.form_group :needs_to_be_available, label: { text: "Needs To Be Available" }, help: "Select, if you want to use the status of this device to do turn on/off the internet via Automat" do
    = f.radio_button :needs_to_be_available, 1, label: "Active", checked: f.object.needs_to_be_available
    = f.radio_button :needs_to_be_available, 0, label: "Inactive", checked: !f.object.needs_to_be_available

  = f.text_field :gps_position, help: "Optional GPS position of device"

  = f.text_field :description, help: "Optional description"

  = f.text_field :contact_info, help: "Optional contact info"

  = f.hidden_field :network_id

  = f.form_group do
    =  f.submit