<p style="color: green"><%= notice %></p>

<%= render @endpoint_device %>

<div>
  <%= link_to "Edit this endpoint device", edit_endpoint_device_path(@endpoint_device) %> |
  <%= link_to "Back to endpoint devices", endpoint_devices_path %>

  <%= button_to "Destroy this endpoint device", @endpoint_device, method: :delete %>
</div>
