<%= form_with(model: uptime_stat) do |form| %>
  <% if uptime_stat.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(uptime_stat.errors.count, "error") %> prohibited this uptime_stat from being saved:</h2>

      <ul>
        <% uptime_stat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :endpoint_device_id, style: "display: block" %>
    <%= form.number_field :endpoint_device_id %>
  </div>

  <div>
    <%= form.label :available, style: "display: block" %>
    <%= form.check_box :available %>
  </div>

  <div>
    <%= form.label :check_date, style: "display: block" %>
    <%= form.datetime_field :check_date %>
  </div>

  <div>
    <%= form.label :network_id, style: "display: block" %>
    <%= form.number_field :network_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
