<div id="<%= dom_id uptime_stat %>">
  <p>
    <strong>Endpoint device:</strong>
    <%= uptime_stat.endpoint_device_id %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= uptime_stat.available %>
  </p>

  <p>
    <strong>Check date:</strong>
    <%= uptime_stat.check_date %>
  </p>

  <p>
    <strong>Network:</strong>
    <%= uptime_stat.network_id %>
  </p>

</div>
