= render 'shared/breadcrumbs', title: 'Uptime Stats'

%h1>Uptime stats

.row
  .col.text-end
    = paginate_helper(@uptime_stats)

#uptime_stats
  - if @uptime_stats.count > 0
    %table.table.table-striped
      %thead
        %tr
          %th{scope: "col"} ID
          %th{scope: "col"} Endpoint Device IP
          %th{scope: "col"} Endpoint Device Title
          %th{scope: "col"} Status
          %th{scope: "col"} Check Date
        %tbody{class: 'table-group-divider'}
        - @uptime_stats.each do |uptime_stat|
          %tr{class: "table-#{table_tr_css(uptime_stat.available)}"}
            %td
              = uptime_stat.id
            %td
              = uptime_stat.endpoint_device.ip_address
            %td
              = uptime_stat.endpoint_device.title
            %td
              = table_td_up_or_down(uptime_stat)
            %td
              = uptime_stat.check_date
            %td
              = link_to "Show", network_uptime_stat_path(@current_network, uptime_stat)
              = link_to 'Delete', network_uptime_stat_path(@current_network, uptime_stat), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}

.row
  .col.text-end
    = paginate_helper(@uptime_stats)


