<p style="color: green"><%= notice %></p>

<%= render @uptime_stat %>

<div>
  <%= link_to "Edit this uptime stat", edit_uptime_stat_path(@uptime_stat) %> |
  <%= link_to "Back to uptime stats", uptime_stats_path %>

  <%= button_to "Destroy this uptime stat", @uptime_stat, method: :delete %>
</div>
