<p style="color: green"><%= notice %></p>

<%= render @saved_energy %>

<div>
  <%= link_to "Edit this saved energy", edit_saved_energy_path(@saved_energy) %> |
  <%= link_to "Back to saved energies", saved_energies_path %>

  <%= button_to "Destroy this saved energy", @saved_energy, method: :delete %>
</div>
