.card{style: "width: 25rem;"}
  .card-body
    %h5.card-title
      = link_to 'Ping Stats', network_ping_stats_path(@current_network)

    %table.table
      %thead
        %tr
          %th{scope: "col"} IP
          %th{scope: "col"} Created at
          %th{scope: "col"} Status
      %tbody{class: 'table-group-divider'}
        - @ping_stats.each do |ping_stat|
          %tr{class: "table-#{table_tr_css(ping_stat.response_status == 'OK')}"}
            %td
              = ping_stat.ip_address

            %td
              = ping_stat.created_at
            %td
              = table_td_ok_or_warn(ping_stat)