.card{style: "width: 25rem;height: 282px;overflow: auto;"}
  .card-body
    %h5.card-title
      = link_to 'ON/OFF Automat', network_switch_lists_path(@current_network)

    - if @scheduled_events.count > 0
      %table.table.table-striped
        %thead
          %tr
            %th{scope: "col"} Event Date
            %th{scope: "col"} Action
            %th{scope: "col"} Status
        %tbody{class: 'table-group-divider'}
          - @scheduled_events.each do |scheduled_event|
            %tr{class: "table-#{row_highlight(scheduled_event.status)}"}
              %th{scope: "row"}
                = scheduled_event.event_date
              %td
                = scheduled_event.action
              %td
                %span{'title' =>  scheduled_event.reason}
                  = scheduled_event.status

    -# - @smart_plug_devices.each do |smart_plug_device|
    -#   .form-check.form-switch
    -#     %input#flexSwitchCheckDefault.form-check-input{role: "switch", type: "checkbox", disabled: true}
    -#     %label.form-check-label{for: "flexSwitchCheckDefault#{smart_plug_device.id}"}= smart_plug_device.title
    -#
    -# .form-check.form-switch
    -#   %input#flexSwitchCheckDefault.form-check-input{role: "switch", type: "checkbox"}
    -#   %label.form-check-label{for: "flexSwitchCheckDefault"}
    -#     = "Ignore all rules"