%h1 Dashboard
#dashboard
  .row
    .col
      %p.text-center
        = "Last updated at: #{Time.now}"
  .row
    .col
      = render 'dashboards/uptime_stats'
    .col
      = render 'dashboards/saved_energy'
    .col
      = render 'dashboards/smart_plug_devices'
  .row.mt-5
    .col
      = render 'dashboards/event_logs'
    .col
      = render 'dashboards/ping_stats'
    .col
      = render 'dashboards/scheduled_cron'