= render 'shared/breadcrumbs', title: 'Dashboard'
%h1 Dashboard
.row
  .col
    %p.text-center
      = "Last updated at: #{Time.now}"
.row
  .col
    = render 'dashboards/uptime_stats'
  .col
    = render 'dashboards/saved_energy'
  .col
    = render 'dashboards/smart_plug_devices'
.row.mt-5
  .col
    = render 'dashboards/event_logs'
  .col
    = render 'dashboards/ping_stats'
  .col
    .card{style: "width: 25rem;"}
      .card-body
        %h5.card-title Scheduled Events
        %table.table
          %thead
            %tr
              %th{scope: "col"} Day
              %th{scope: "col"} Device
              %th{scope: "col"} Action
          %tbody{class: 'table-group-divider'}
            %tr{class: 'table-success'}
              %td 23.12.2022 17:25:21
              %td Starlink Plug
              %td
                %i.bi.bi-wifi
                ON
            %tr{class: 'table-danger'}
              %td 23.12.2022 16:25:21
              %td Starlink Plug
              %td
                %i.bi.bi-wifi-off
                OFF
            %tr{class: 'table-success'}
              %td 23.12.2022 14:25:21
              %td Starlink Plug
              %td
                %i.bi.bi-wifi-off
                OFF
            %tr{class: 'table-danger'}
              %td 23.12.2022 13:25:21
              %td Starlink Plug
              %td
                %i.bi.bi-wifi
                ON