<%= form_with(model: ping_stat) do |form| %>
  <% if ping_stat.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ping_stat.errors.count, "error") %> prohibited this ping_stat from being saved:</h2>

      <ul>
        <% ping_stat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :ip_addresss, style: "display: block" %>
    <%= form.text_field :ip_addresss %>
  </div>

  <div>
    <%= form.label :response_time, style: "display: block" %>
    <%= form.number_field :response_time %>
  </div>

  <div>
    <%= form.label :response_code, style: "display: block" %>
    <%= form.text_field :response_code %>
  </div>

  <div>
    <%= form.label :response_status, style: "display: block" %>
    <%= form.text_field :response_status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
