<div id="<%= dom_id ping_stat %>">
  <p>
    <strong>Ip addresss:</strong>
    <%= ping_stat.ip_addresss %>
  </p>

  <p>
    <strong>Response time:</strong>
    <%= ping_stat.response_time %>
  </p>

  <p>
    <strong>Response code:</strong>
    <%= ping_stat.response_code %>
  </p>

  <p>
    <strong>Response status:</strong>
    <%= ping_stat.response_status %>
  </p>

</div>
