<%= form_with(model: rule) do |form| %>
  <% if rule.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
        <% rule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :rule, style: "display: block" %>
    <%= form.text_field :rule %>
  </div>

  <div>
    <%= form.label :smart_plug_device_id, style: "display: block" %>
    <%= form.number_field :smart_plug_device_id %>
  </div>

  <div>
    <%= form.label :action, style: "display: block" %>
    <%= form.text_field :action %>
  </div>

  <div>
    <%= form.label :cron_monday, style: "display: block" %>
    <%= form.text_field :cron_monday %>
  </div>

  <div>
    <%= form.label :cron_tuesday, style: "display: block" %>
    <%= form.text_field :cron_tuesday %>
  </div>

  <div>
    <%= form.label :cron_wednesday, style: "display: block" %>
    <%= form.text_field :cron_wednesday %>
  </div>

  <div>
    <%= form.label :cron_thursday, style: "display: block" %>
    <%= form.text_field :cron_thursday %>
  </div>

  <div>
    <%= form.label :cron_friday, style: "display: block" %>
    <%= form.text_field :cron_friday %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
