= bootstrap_form_for([@current_network, rule], layout: :horizontal, label_errors: true) do |f|
  = f.text_field :rule, help: "Name of your rule"

  = f.collection_select :smart_plug_device_id, @current_network.smart_plug_devices, :id, :title, include_blank: "Select a value", help: "Smart Plug Device for which the rule is associated"

  = f.form_group :action, label: { text: "Action" }, help: "" do
    = f.radio_button :action, '1', label: "Turn off", checked: f.object.action == 'turn_off'
    = f.radio_button :action, '0', label: "Turn on", checked: f.object.action == 'turn_on'

  = f.text_field :cron_monday, help: 'In the format * * * * * but specify only minutes and hours'
  = f.text_field :cron_tuesday, help: 'In the format * * * * * but specify only minutes and hours'
  = f.text_field :cron_wednesday, help: 'In the format * * * * * but specify only minutes and hours'
  = f.text_field :cron_thursday, help: 'In the format * * * * * but specify only minutes and hours'
  = f.text_field :cron_friday, help: 'In the format * * * * * but specify only minutes and hours'
  = f.text_field :cron_saturday, help: 'In the format * * * * * but specify only minutes and hours'
  = f.text_field :cron_sunday, help: 'In the format * * * * * but specify only minutes and hours'

  = f.hidden_field :network_id

  = f.form_group do
    =  f.submit