<div id="<%= dom_id rule %>">
  <p>
    <strong>Rule:</strong>
    <%= rule.rule %>
  </p>

  <p>
    <strong>Smart plug device:</strong>
    <%= rule.smart_plug_device_id %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= rule.action %>
  </p>

  <p>
    <strong>Cron monday:</strong>
    <%= rule.cron_monday %>
  </p>

  <p>
    <strong>Cron tuesday:</strong>
    <%= rule.cron_tuesday %>
  </p>

  <p>
    <strong>Cron wednesday:</strong>
    <%= rule.cron_wednesday %>
  </p>

  <p>
    <strong>Cron thursday:</strong>
    <%= rule.cron_thursday %>
  </p>

  <p>
    <strong>Cron friday:</strong>
    <%= rule.cron_friday %>
  </p>

</div>
