%div{id: "#{dom_id rule}"}
  %p
    %strong Rule:
    = rule.rule
  %p
    %strong Smart plug device:
    = rule.smart_plug_device_id
  %p
    %strong Action:
    = rule.action
  %p
    %strong Cron monday:
    = rule.cron_monday
  %p
    %strong Cron tuesday:
    = rule.cron_tuesday
  %p
    %strong Cron wednesday:
    = rule.cron_wednesday
  %p
    %strong Cron thursday:
    = rule.cron_thursday
  %p
    %strong Cron friday:
    = rule.cron_friday