= render 'shared/breadcrumbs', title: 'Custom Rules'

%h1 Custom Rules

.row
  .col
    = link_to "New Custom Rules", new_network_rule_path(@current_network)
  .col.text-end
    = paginate_helper(@rules)

#rules
  - if @rules.count > 0
    %table.table.table-striped
      %thead
        %tr
          %th{scope: "col"} ID
          %th{scope: "col"} Smart Plug Device
          %th{scope: "col"} Action
          %th{scope: "col"} Cron Monday
          %th{scope: "col"} Cron Tuestday
          %th{scope: "col"} Cron Wednesday
          %th{scope: "col"} Cron Thursday
          %th{scope: "col"} Cron Friday
          %th{scope: "col"} Cron Saturday
          %th{scope: "col"} Cron Sunday                                                  
      %tbody
        - @rules.each do |rule|
          %tr
            %th
              = rule.id
            %td
              = rule.smart_plug_device.title
            %td
              = rule.action
            %td
              = rule.cron_monday
            %td
              = rule.cron_tuesday
            %td
              = rule.cron_wednesday
            %td
              = rule.cron_thursday
            %td
              = rule.cron_friday
            %td
              = rule.cron_saturday
            %td
              = rule.cron_sunday
            %td
              = link_to "Show", network_rule_path(@current_network, rule)
              = link_to "Edit", edit_network_rule_path(@current_network, rule)
              = link_to 'Delete', network_rule_path(@current_network, rule), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}

.row
  .col.text-end
    = paginate_helper(@rules)