!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ElectricitySaver
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = javascript_importmap_tags
  %body
    = render "shared/svg_images"

    %main
      = render 'shared/header'
      .container.mt-2
        = render 'shared/flash'
        = render 'shared/breadcrumbs', title: params[:controller].humanize if @current_network
        = yield
      = render 'shared/footer'